# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data — keep folder structure, ignore contents
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Secrets / local
.env

# DuckDB local database files
*.duckdb

# OS
.DS_Store
